.header {
    position: fixed;
    height: 5vh;
    top: 0;
    width: 80%;
    z-index: 1000;
    background: var(--bodyBackgroundColor);
    // box-shadow: 0 10px 100px rgba(0, 0, 0, .1);

    &--background {
        position: fixed;
        height: 5vh;
        top: 0;
        width: 100%;
        z-index: 1000;
        background: var(--bodyBackgroundColor);
        box-shadow: 0 10px 100px rgba(0, 0, 0, .1);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
    }

    &__main {
        width: 50vw;
        height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
        transition: color .3s;
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        align-content: center;
        height: 100%;
        margin: 0%;

        li {
            list-style: none;

            a {
                text-decoration: none;


            }

            .resume {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 8px;
                width: 94px;
                height: 40px;
                border: 1px solid #24CAFF;
                border-radius: 5px;
                font-family: 'Share Tech Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                text-transform: capitalize;
                color: #24CAFF;
            }
        }
    }
}

